[Unit]
Description=cbr-dbapi
After=syslog.target
After=network.target

[Service]
Type=simple
User=dakorlykhanov-2121817
WorkingDirectory=/home/dakorlykhanov-2121817/cbr_dbapi
ExecStart=/home/dakorlykhanov-2121817/cbr_dbapi/myenv/bin/python /home/dakorlykhanov-2121817/cbr_dbapi/logfire_auto_tracing.py
Restart=always

[Install]
WantedBy=multi-user.target